
<%= render :partial => "shared/cms_index" %>



<div id="page-wrapper" style="min-height: 900px">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">Categories </h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-sm-10">



      <%  if flash[:notice] %>
      <div col-xs-offset-4 col-xs-4 col-xs-offset-4>
        <div class="alert alert-success ">
          <button data-dismiss="alert" class="close" type="button">×</button>
          <h4>Success</h4>
          <%= flash[:notice] %>
        </div>
      </div>
      <% end %>

      <%  if flash[:error] %>
      <div col-xs-offset-4 col-xs-4 col-xs-offset-4>
        <div class="alert alert-error col-xs-offset-4 col-xs-4 col-xs-offset-4">
          <button data-dismiss="alert" class="close" type="button">×</button>
          <h4>Error</h4>
          <%= flash[:error] %>
        </div>

      </div>
      <% end %>



      <div class="panel panel-grey" >
        <div class="panel-heading" style="padding: 15px">
          <div class="row">


           <form class="form-horizontal" action="/cms/update_category" method="POST"  enctype="multipart/form-data">
             <div class="col-sm-12">


               <%= image_tag(@cat.path, class: "img-responsive img-circle pull-right"  ,:style=>"width:100px; margin-bottom:30px; margin-right:30px; height:100px")%> <br><br>

            </div>


<input type="hidden" class="form-control" name="id" value="<%= @cat.id %>" >



            <div class="form-group">
              <label class="control-label col-sm-2" for="f_name">Category Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="<%= @cat.name %>" required placeholder="Enter Your Full Name">
              </div>
            </div>




            <div class="form-group" >
              <label class="control-label col-sm-2" for="role">Category description:</label>
              <div class="col-sm-10">

                <textarea class="form-control" rows="5" id="description" name = "description" required> <%= @cat.subject %> </textarea>
              </div>
            </div>


            <div class="form-group" id = "image">
              <label class="control-label col-sm-2" for="role">Change Image</label>
              <div class="col-sm-10">

                <input type="file" class="form-control-file" Value = "upload image" name="image" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This will be set as display picture</small>


              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" >Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</div>












<script>

  function validateFiles(inputFile) {
    var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
    var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
    var allowedExtension = ["jpg", "jpeg", "gif", "png"];

    var extName;
    var maxFileSize = $(inputFile).data('max-file-size');
    var sizeExceeded = false;
    var extError = false;

    $.each(inputFile.files, function() {
      if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
      extName = this.name.split('.').pop();
      if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
    });
    if (sizeExceeded) {
      window.alert(maxExceededMessage);
      $(inputFile).val('');
    };

    if (extError) {
      window.alert(extErrorMessage);
      $(inputFile).val('');
    };
  }

</script>
