<br>
<!-- 
<div class="row "  style="margin-top: 0px">

  <div class="col-xs-12 " style="margin-top: 0px; background: "> -->

     <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2  " style="margin-top: 5px; background: ">

<!-- <legend>  -->
     <h3 style=" text-align: center; color: #505050; border: 1px solid #ccc; padding: 10px"> Latest Arts </h3>

    <!-- </legend> -->

    <!-- <h4   style=" text-align: center;"> <a href="">Best Sellers</a> | <a href="">Botanical</a> |  <a href=""> Abstract </a>  | <a href="">Decorative Art  </a> |  <a href=""> Animals </a> </h4> -->

    <div class="col-xs-12"  style="background:white">
      <%
      # making the page to paginate
      @arts = Art.all
      count = 12
      pagination = (@arts.count) % 12
      if pagination == 0
        pagination = (@arts.count) / 12
      else
        pagination = ((@arts.count) / 12) + 1
      end
      row_id = 1
      @arts.reverse.each do |art|
        img = art.art_path


        %>

        <%if count%12==0
          if count == 12
            display = "block"
          else
            display = "none"
          end
          id = 200*row_id
         %>
        <div class="row" style="background: ; display:<%=display%>" id = "<%=id%>" >
          <%
          row_id += 1
        end
        %>
        <!-- Go to the next column -->

        <div class="col-xs-3" style="background: white; border: 1px solid #ccc;  padding-top:20px;margin-bottom: 30px; ">


          <a href="arts/show_art?id=<%=art.id%>" data-toggle="<%= art.name %>" data-target="#<C art.name %>" id="<%= art.title %>" > <%= image_tag(img, class: "img-responsive",:style=>"width:100%; height:150px;")%></a>
          <br>
          
          <!-- Modal design  -->



          <!-- end of design -->



          <small style="text-align: center; font-size:14px; ">  <%= art.name.titleize %>  </small> <br>

                   <a href="#" class="btn btn-success pull-right" style="margin-bottom: 10px; border-radius:0px"> <span class=""> Add to cart</span>
   </a>

          <small style="text-align: center; font-size:10px; ">  Price:  <%= art.price %>  </small>

 



        </div>
        <%

        count = count + 1
      end
      %>
      </div>
    </div>




    <ul class="pagination pull-right" style="margin: 5px 0px 5px 0px; border-radius:0px; ">
      <%
      1.upto(pagination).each do |p|
        %>

        <li  class = ""><a   onclick="showPage(<%=p%>, <%=pagination%>)"  id = "<%=p%>"  > <%=p%> </a></li>

        <%
      end
      %>
    </ul>
    <br><br>

  </div>
</div>
<div>



<script type="text/javascript">
    function showPage(p,paginate){
// alert(paginate);
      var row;

     for(var i = paginate; i >= 1; i--){
       row = 200*i;
       if (i == p){
            document.getElementById(row).style.display = "block";
            // document.getElementById(p).class = "active";
       }else{
         document.getElementById(row).style.display = "none";
         // document.getElementById(p).class = "not";
       }
     }

      // document.getElementById(p).style.display = "none";
    }
</script>
