
<%= render :partial => "shared/app_nav" %>
<%= render :partial => "shared/nav" %>

<%= render :partial => "shared/login" %>



	<div class="col-sm-3" style="margin-top: 5px">
	  
	  <%= render :partial => "shared/account_nav" %>

	</div>

	</div>


	 </div>

</div>





<%= render :partial => "shared/footer" %>








