<%= render :partial => "shared/app_nav" %>
<%= render :partial => "shared/nav" %>
lllllllllllllllllllllllll

<div class="container">

  <ol class="breadcrumb" style="border-radius:0px;margin-top:0px">
    <li class="breadcrumb-item"><a href="/">Home/Arts</a></li>
    <li class="breadcrumb-item"><a href="#"><%= @where_am_i  %></a></li>
    <h3> <%=   @sub_cat %></h3>

  </ol>




  <%= render :partial => "shared/home_sidebar" %>
  <%= render :partial => "shared/arts" %>
</div>

